body {
    font-family: 'Times', cursive, sans-serif;
    color: rgb(148, 5, 192);
    background-color: #000000;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80vh;
    padding: 60px;
}

.esquerda {
    text-align: center;
}

.imagem {
    width: 450px;
    height: auto;
}

.direita {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

button {
    font-size: 18px;
    padding: 10px 20px;
    width: 450px;
    border: none;
    background-color: #290233;
    color: rgb(255, 255, 255);
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #630056;
    color: #ffffff;
}

.resultado {
    font-family: 'times',cursive, sans-serif;
    background-color: rgb(0, 0, 0);
    color: white;
    padding: 20px;
    border-radius: 10px;
    max-height: 300px;
    overflow-y: auto;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
}
